.animation-bar {
  height: 5px;
  border-radius: 2px;
  width: 100%;
  opacity: 0;
  animation: appear 1s forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
